Predicting whether income exceeds $50K/yr based on census data.

dataset - https://archive.ics.uci.edu/dataset/2/adult

Attributes 

age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
income: >50K, <=50K.

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
import os

## Create DataFrames

In [30]:
# define training and testing file paths
train_data_file_path = 'Dataset\\adult.data'
test_data_file_path = 'Dataset\\adult.test'

In [31]:
# define column names
column_names = [
    "Age", 
    "Work_class", 
    "Final_Weight", 
    "Education", 
    "Education_Num", 
    "Marital_Status", 
    "Occupation",
    "Relationship", 
    "Race", 
    "Sex", 
    "Capital_Gain", 
    "Capital_Loss", 
    "Hours_per_Week", 
    "Native_Country",
    "Income"
]

Reference - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [32]:
# read training dataset into DataFrame
try:
    train_data = pd.read_csv(train_data_file_path, delimiter=',', names=column_names, skipinitialspace=True)
except FileNotFoundError:
    print(f"Error: File '{train_data_file_path}' not found.")
    exit()

In [33]:
# preview after adding into DataFrame
train_data.head(10)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [34]:
# read testing dataset into DataFrame
# 1st row (header)should remove in adult.test file 
try:
    test_data = pd.read_csv(test_data_file_path, delimiter=',', names=column_names, skipinitialspace=True, skiprows=1)
except FileNotFoundError:
    print(f"Error: File '{test_data_file_path}' not found.")
    exit()

In [35]:
# preview after adding into DataFrame
test_data.head(10)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.

### Merge DataFrames

Reference -  https://pandas.pydata.org/docs/reference/api/pandas.concat.html
             https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html#

In [36]:
# check data types of Training and Testing DataFrames
print("Training Data")
print(train_data.dtypes)
print("")
print("Testing Data")
print(test_data.dtypes)

Training Data
Age                int64
Work_class        object
Final_Weight       int64
Education         object
Education_Num      int64
Marital_Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital_Gain       int64
Capital_Loss       int64
Hours_per_Week     int64
Native_Country    object
Income            object
dtype: object

Testing Data
Age                int64
Work_class        object
Final_Weight       int64
Education         object
Education_Num      int64
Marital_Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Capital_Gain       int64
Capital_Loss       int64
Hours_per_Week     int64
Native_Country    object
Income            object
dtype: object

In [37]:
# check null values of both DataFrames
print("Training Data")
print(train_data.isnull().sum())
print("")
print("Testing Data")
print(test_data.isnull().sum())

Training Data
Age               0
Work_class        0
Final_Weight      0
Education         0
Education_Num     0
Marital_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_Week    0
Native_Country    0
Income            0
dtype: int64

Testing Data
Age               0
Work_class        0
Final_Weight      0
Education         0
Education_Num     0
Marital_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_Week    0
Native_Country    0
Income            0
dtype: int64

In [38]:
# there are no any null values in both DataFrames
# There is no difference in data types of columns
# so we can combine into a single DataFrame
census_income_df = pd.concat([train_data, test_data])

In [39]:
census_income_df.head(10)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [40]:
# Shuffle the merged data for prevents any bias and ensure the data is randomized
census_income_df = census_income_df.sample(frac=1).reset_index(drop=True)

In [41]:
census_income_df.head(10)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,42,Private,350550,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,<=50K.
1,34,State-gov,259705,Some-college,10,Separated,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
2,18,Self-emp-not-inc,161245,12th,8,Never-married,Farming-fishing,Own-child,White,Male,0,0,50,United-States,<=50K.
3,35,Private,109204,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K.
4,25,Private,55360,HS-grad,9,Never-married,Adm-clerical,Unmarried,Black,Male,0,0,40,United-States,<=50K.
5,35,Private,57640,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
6,60,Private,205934,HS-grad,9,Separated,Other-service,Not-in-family,White,Female,0,0,25,United-States,<=50K
7,36,Self-emp-not-inc,52870,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,4386,0,50,United-States,>50K.
8,43,Private,462180,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
9,35,State-gov,190895,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

In [42]:
# CSV file saving directory checking
directory = os.path.dirname(train_data_file_path)
if not os.path.exists(directory):
    os.makedirs(directory)

In [43]:
# define file paths to save datasets as CSV
census_income_df_file_path = os.path.join(directory, 'census_income_datset.csv')

In [45]:
# save training and testing DataFrames as CSV
try:
    census_income_df.to_csv(census_income_df_file_path, index=False)
    print(f"Census Income Data CSV file saved successfully at: {census_income_df_file_path}")

except PermissionError:
    print(f"Error: Permission denied to save files in directory: {directory}")

Census Income Data CSV file saved successfully at: Dataset\census_income_datset.csv

## Data Cleaning

In [50]:
census_income_df.shape

(48842, 15)

### 1. Check null values

In [49]:
census_income_df.isnull().sum()

Age               0
Work_class        0
Final_Weight      0
Education         0
Education_Num     0
Marital_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_Week    0
Native_Country    0
Income            0
dtype: int64

In [47]:
census_income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             48842 non-null  int64
 1   Work_class      48842 non-null  object
 2   Final_Weight    48842 non-null  int64
 3   Education       48842 non-null  object
 4   Education_Num   48842 non-null  int64
 5   Marital_Status  48842 non-null  object
 6   Occupation      48842 non-null  object
 7   Relationship    48842 non-null  object
 8   Race            48842 non-null  object
 9   Sex             48842 non-null  object
 10  Capital_Gain    48842 non-null  int64
 11  Capital_Loss    48842 non-null  int64
 12  Hours_per_Week  48842 non-null  int64
 13  Native_Country  48842 non-null  object
 14  Income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Currently there are no any null values

In [52]:
# check unique values
census_income_df.nunique()

Age                  74
Work_class            9
Final_Weight      28523
Education            16
Education_Num        16
Marital_Status        7
Occupation           15
Relationship          6
Race                  5
Sex                   2
Capital_Gain        123
Capital_Loss         99
Hours_per_Week       96
Native_Country       42
Income                4
dtype: int64

In [66]:
# unique values in each columns
for column in census_income_df:
    print(column)
    print(census_income_df[column].unique())
    print('\n')

Age
[42 34 18 35 25 60 36 43 30 51 76 44 17 39 21 26 38 31 19 24 37 41 57 55
 56 49 45 22 23 58 54 69 28 47 29 32 61 33 53 46 52 27 20 50 59 67 62 48
 63 40 65 72 73 74 64 66 70 71 68 78 82 77 75 84 90 87 80 79 81 83 89 88
 85 86]


Work_class
['Private' 'State-gov' 'Self-emp-not-inc' 'Local-gov' '?' 'Self-emp-inc'
 'Federal-gov' 'Never-worked' 'Without-pay']


Final_Weight
[350550 259705 161245 ... 258836 227465 213214]


Education
['Some-college' '12th' 'Bachelors' 'HS-grad' 'Prof-school' 'Doctorate'
 '10th' 'Masters' 'Assoc-voc' '7th-8th' '5th-6th' 'Assoc-acdm' '11th'
 '9th' '1st-4th' 'Preschool']


Education_Num
[10  8 13  9 15 16  6 14 11  4  3 12  7  5  2  1]


Marital_Status
['Married-civ-spouse' 'Separated' 'Never-married' 'Widowed'
 'Married-spouse-absent' 'Divorced' 'Married-AF-spouse']


Occupation
['Machine-op-inspct' 'Exec-managerial' 'Farming-fishing'
 'Transport-moving' 'Adm-clerical' 'Craft-repair' 'Other-service'
 'Prof-specialty' 'Sales' '?' 'Tech-support' 'Protective-serv'
 'Handlers-cleaners' 'Priv-house-serv' 'Armed-Forces']


Relationship
['Husband' 'Own-child' 'Unmarried' 'Not-in-family' 'Wife' 'Other-relative']


Race
['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']


Sex
['Male' 'Female']


Capital_Gain
[    0  4386 99999  7688 20051  7298 15024  1055  8614  1831  3103  2174
  5013  3942  2597  9562  4650  4865  4064 14084 10605  2202 27828  5178
  4787  2829 10520  3818  2354   594  1848  9386  4416 14344  3325  5455
  2580  3674  2105  1086  1506  2176 13550  6849 15831  3908  3464  4508
  1151  2653 41310  6514  4101  2964  3411  2885  3137 34095  3781  3887
  7430  6418  3432 10566   401  2907  6360  5721  3418  1471  1455  7443
   114  3456  6497   914  4934  1409  6612  2329  3273  2635  5556  4687
 15020 25124  2463  2290 25236  2407  6723  2414  6767  2009  7262  2993
  2387  2228  3471  4931 11678  6097  2050  2977  2346  1173 18481  1797
   991  2036  1639  1111  1264  2961 22040  2538  1424  7896  2936  7978
  5060  2062  1731]


Capital_Loss
[   0 1651 1848 1628 1669 1590 2547 1887 1977 2444 1672 1902 2282 2339
 2051 2205 2246 1617 1573 1485 1579 1816 2377 2258 1740 1602 1564 2001
 2415 2392 1408 1876 1092 1539 2457 1668 1340  625 2057 1719 3004 2042
 1380 2754 1825 1741 1974 1721 2559 1594  880 1980 1504 2179 2231 3770
 2824 2206 1762 2129 2002 3683 1138 1870 1726 2174  323 2201 1429 2267
 1844  213 2238 3175 2603 1258 1648 2472 4356 1421 2467 1411 1944  653
 1735 2149 1755  810  974 2163 3900 2352  419 2080 1510 2465 2489 1911
  155]


Hours_per_Week
[45 40 50 35 25 60 55 38  8 20 16 10 80 30 14  6 24 22 28 32 48 43 72 65
 70 12 17  5 36 44 15 57 99 42 54 84  7 39 37 18 29  9 56 46 52 64 90 58
 49 27  2 85 13 33 19  4 68 53  3 47 96 23 41 75 21  1 51 31 26 91 62 34
 63 66 77 98 11 87 67 73 78 74 76 88 92 86 95 59 89 61 82 81 69 79 97 94]


Native_Country
['United-States' 'Philippines' '?' 'Mexico' 'Columbia' 'El-Salvador'
 'Cuba' 'Italy' 'China' 'England' 'Japan' 'Canada' 'Ecuador' 'Guatemala'
 'Germany' 'Trinadad&Tobago' 'Hong' 'Cambodia' 'Jamaica' 'Puerto-Rico'
 'Taiwan' 'Thailand' 'Haiti' 'India' 'Greece' 'Nicaragua' 'France'
 'Dominican-Republic' 'Peru' 'Portugal' 'South' 'Poland'
 'Outlying-US(Guam-USVI-etc)' 'Ireland' 'Iran' 'Scotland' 'Honduras'
 'Vietnam' 'Hungary' 'Laos' 'Yugoslavia' 'Holand-Netherlands']


Income
['<=50K' '>50K']

There are missing values represented by '?' in Work_class, Occupation and Native_Country columns.
Also have to convert '<=50K.' into '<=50K' and '>50K.' into '>50K' in Income column.

In [67]:
# replace '?' with NaN
#census_income_df.replace(' ?', pd.NA, inplace=True)

census_income_df.replace('?', np.nan, inplace=True)

In [68]:
# replace values in 'Income' column
census_income_df['Income'] = census_income_df['Income'].replace({'<=50K.': '<=50K', '>50K.': '>50K'})

In [69]:
# check unique values in each columns after modifications
for column in census_income_df:
    print(column)
    print(census_income_df[column].unique())
    print('\n')

Age
[42 34 18 35 25 60 36 43 30 51 76 44 17 39 21 26 38 31 19 24 37 41 57 55
 56 49 45 22 23 58 54 69 28 47 29 32 61 33 53 46 52 27 20 50 59 67 62 48
 63 40 65 72 73 74 64 66 70 71 68 78 82 77 75 84 90 87 80 79 81 83 89 88
 85 86]


Work_class
['Private' 'State-gov' 'Self-emp-not-inc' 'Local-gov' nan 'Self-emp-inc'
 'Federal-gov' 'Never-worked' 'Without-pay']


Final_Weight
[350550 259705 161245 ... 258836 227465 213214]


Education
['Some-college' '12th' 'Bachelors' 'HS-grad' 'Prof-school' 'Doctorate'
 '10th' 'Masters' 'Assoc-voc' '7th-8th' '5th-6th' 'Assoc-acdm' '11th'
 '9th' '1st-4th' 'Preschool']


Education_Num
[10  8 13  9 15 16  6 14 11  4  3 12  7  5  2  1]


Marital_Status
['Married-civ-spouse' 'Separated' 'Never-married' 'Widowed'
 'Married-spouse-absent' 'Divorced' 'Married-AF-spouse']


Occupation
['Machine-op-inspct' 'Exec-managerial' 'Farming-fishing'
 'Transport-moving' 'Adm-clerical' 'Craft-repair' 'Other-service'
 'Prof-specialty' 'Sales' nan 'Tech-support' 'Protective-serv'
 'Handlers-cleaners' 'Priv-house-serv' 'Armed-Forces']


Relationship
['Husband' 'Own-child' 'Unmarried' 'Not-in-family' 'Wife' 'Other-relative']


Race
['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']


Sex
['Male' 'Female']


Capital_Gain
[    0  4386 99999  7688 20051  7298 15024  1055  8614  1831  3103  2174
  5013  3942  2597  9562  4650  4865  4064 14084 10605  2202 27828  5178
  4787  2829 10520  3818  2354   594  1848  9386  4416 14344  3325  5455
  2580  3674  2105  1086  1506  2176 13550  6849 15831  3908  3464  4508
  1151  2653 41310  6514  4101  2964  3411  2885  3137 34095  3781  3887
  7430  6418  3432 10566   401  2907  6360  5721  3418  1471  1455  7443
   114  3456  6497   914  4934  1409  6612  2329  3273  2635  5556  4687
 15020 25124  2463  2290 25236  2407  6723  2414  6767  2009  7262  2993
  2387  2228  3471  4931 11678  6097  2050  2977  2346  1173 18481  1797
   991  2036  1639  1111  1264  2961 22040  2538  1424  7896  2936  7978
  5060  2062  1731]


Capital_Loss
[   0 1651 1848 1628 1669 1590 2547 1887 1977 2444 1672 1902 2282 2339
 2051 2205 2246 1617 1573 1485 1579 1816 2377 2258 1740 1602 1564 2001
 2415 2392 1408 1876 1092 1539 2457 1668 1340  625 2057 1719 3004 2042
 1380 2754 1825 1741 1974 1721 2559 1594  880 1980 1504 2179 2231 3770
 2824 2206 1762 2129 2002 3683 1138 1870 1726 2174  323 2201 1429 2267
 1844  213 2238 3175 2603 1258 1648 2472 4356 1421 2467 1411 1944  653
 1735 2149 1755  810  974 2163 3900 2352  419 2080 1510 2465 2489 1911
  155]


Hours_per_Week
[45 40 50 35 25 60 55 38  8 20 16 10 80 30 14  6 24 22 28 32 48 43 72 65
 70 12 17  5 36 44 15 57 99 42 54 84  7 39 37 18 29  9 56 46 52 64 90 58
 49 27  2 85 13 33 19  4 68 53  3 47 96 23 41 75 21  1 51 31 26 91 62 34
 63 66 77 98 11 87 67 73 78 74 76 88 92 86 95 59 89 61 82 81 69 79 97 94]


Native_Country
['United-States' 'Philippines' nan 'Mexico' 'Columbia' 'El-Salvador'
 'Cuba' 'Italy' 'China' 'England' 'Japan' 'Canada' 'Ecuador' 'Guatemala'
 'Germany' 'Trinadad&Tobago' 'Hong' 'Cambodia' 'Jamaica' 'Puerto-Rico'
 'Taiwan' 'Thailand' 'Haiti' 'India' 'Greece' 'Nicaragua' 'France'
 'Dominican-Republic' 'Peru' 'Portugal' 'South' 'Poland'
 'Outlying-US(Guam-USVI-etc)' 'Ireland' 'Iran' 'Scotland' 'Honduras'
 'Vietnam' 'Hungary' 'Laos' 'Yugoslavia' 'Holand-Netherlands']


Income
['<=50K' '>50K']

### 2. Handle null values

In [72]:
#check how many records in the dataset 
census_income_df.shape

(48842, 15)

In [73]:
# number of NaN values in each row
nan_rows_count = census_income_df.isna().sum(axis=1)

# total number of rows with NaN values
total_nan_rows = (nan_rows_count > 0).sum()

print("Total number of rows with NaN values:", total_nan_rows)

Total number of rows with NaN values: 3620

There are so many rows have nan values. So can't drop that rows